.top-panel{
    height: 400px;
    width: 100%;
    background-color: #ee6e73;
    margin-bottom: 20px;
}
.top-panel-caption{
    margin-top: 60px;
}

.circle{
    background-color: red;
    border-radius: 50%;
    border-width: 0;
    margin: auto;
}
pre {
  overflow: auto;
  background: #23241f;
}

pre code{
    white-space: nowrap;
    min-height: 50px;
}